<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
    <body>
       
        <div class="container">
        <h3>EDIT TASK</h3>
        </br>
        <form action="/update" method="post">
        <div class="row m-2">
            <input type="hidden"  value="<%= task.id%>"  name="id" class=' col form-control' />

            <input type="text"  placeholder='enter the task' id="t"  name="t" value="<%= task.taskname %>" class=' col form-control' required/>
            <button type="submit" class='btn btn-success mx-2'> UPDATE</button>
            <br/>
            <br/>
        </div>
    </form>
       
    </div>
    </body>
</html>